/* font importing and application */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%)
}

.qrcard {
    /* border: 2px solid red; */
    background-color: hsl(0, 0%, 100%);
    max-width: 25%;
    text-align: center;
    border-radius: 1rem;
    margin: 5rem auto;
    /* shadow styling */
    box-shadow: 3px 8px 48px -18px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 3px 8px 48px -18px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 3px 8px 48px -18px rgba(0, 0, 0, 0.63);
}

.qrcard img {
    max-height: auto;
    width: 92%;
    margin: 1rem auto;
    border-radius: 0.7rem;
}

.qrcard .main {
    margin: 0rem auto;
    width: 80%;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 0.6rem;
    color: hsl(218, 44%, 22%);
}

.qrcard .desc {
    padding-bottom: 2rem;
    font-size: 18px;
    margin: 1rem auto;
    width: 80%;
    color: hsl(220, 15%, 55%);
}